{% extends 'layout/base.html' %}

{% block body %}

<form method="post">
    <button><li class="nav-item"><a href="/" class="btn btn-outline-success">Parking Detection System</a></li></button>
    <button><li class="nav-item">
      <a href="/generate" class="btn btn-outline-success">Create</a>
  </li></button>
</form>

{% endblock %}

{% block css %}
<style>
  main {
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(214, 239, 241);
    background-image: url('https://images.unsplash.com/photo-1542128962-9d50ad7bf014?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyJTIwcGFya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: rgba(79, 58, 237, 0.97);
    font-size: 3rem;
    gap: 1rem;
  }
</style>

{% endblock %}